body
{
    font-family:sans-serif;
    background-color: dimgray;
    margin: 0;
}
.box 
{
    width:500px;
    position: absolute;
    height:fit-content;
    text-align: center;
    top: 20%;
    left: 30%;
    padding:40px;
    background-color: rgb(59, 54, 54);
    color:whitesmoke;
    transition: all 2s;
}
.box h1
{
    font-weight: 550;
}
.box input[type="text"],.box input[type="password"]
{
    font-size: 30px;
    margin:auto;
    background:transparent;
    border:2px solid #1384da;
    border-radius: 20px;
    display: block;
    text-align:center;
    align-items: center;
    padding:14px 10px;
    color: white;
}
.box input[type="text"]:hover,.box input[type="password"]:hover
{
    width: 480px;
    border:2px solid rgb(98, 196, 18);
}
.box input[type="submit"]
{
    font-size: 30px;
    margin:auto;
    background:transparent;
    border:2px solid #1384da;
    border-radius: 20px;
    display: block;
    text-align:center;
    align-items: center;
    padding:14px 10px;
    color: white;
}
.box input[type="submit"]:hover
{
    width:100px;
    background-color: rgb(23, 192, 8);
    border:2px solid rgb(98, 196, 18);
}